# Node & Flutter
node_modules/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
build/

# IDE
.vscode/
.idea/
.DS_Store

# Env & secrets
.env
**/.env
**/serviceAccount.json
**/google-services.json
**/GoogleService-Info.plist
.cursor/

# Generated
smartspoon/**/GeneratedPluginRegistrant.*
smartspoon/flutter_01.png